.wrapper {
  margin: 30px 0;
  padding: 60px 100px;
  background-color: #f6fdff;
}
.wrapper h4 {
  margin-bottom: 40px;
}
.bottom {
  display: none;
}
.ReviewBox {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 20px 22px;
  height: 290px;
  background: #ffffff;

  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.transition {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 481px) {
  .wrapper h4 {
    text-align: center;
    font-weight: 500;

    margin-bottom: 0;
  }
  .wrapper {
    display: flex;
    flex-flow: column;
    padding: 10px;
    background-color: transparent;
    width: 100%;
    position: relative;
    z-index: 10;
  }
  .ReviewBox {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 20px 42px;
    height: 290px;
    background: #ffffff;
    border-width: 0px 0.3px 0.3px 0px;
    border-style: solid;
    border-color: #000000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button button {
    background-color: #f28705;
    border-radius: 4px;
    color: white;
    padding: 10px 35px;
  }
  .downArrow {
    color: #f28705;
    font-size: 34px;
  }
  .transition {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .transition p {
    margin: 0;
  }
  .innerWrap {
    padding: 10px;
    display: flex;
    flex-flow: column;
    background-color: white;
    border-radius: 12px;
    z-index: 10;
    gap: 30px;
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper h4 span {
    font-weight: 700;
  }

  .hike {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 40px;

    justify-content: center;
  }

  .left,
  .right {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .right {
    padding-left: 35px;
  }
  .hike1,
  .hike2 {
    display: flex;
    flex-flow: column;
    align-items: left;
    gap: 10px;
    width: 100%;
    justify-content: left;
  }

  .hike1 p,
  .hike2 p {
    font-weight: 700;
    color: rgb(18, 17, 17);
    line-height: 18px;
    font-size: 14px;
    display: flex;
    width: 100%;
    flex-flow: column;
  }

  .hike1 span,
  .hike2 span {
    font-weight: 400;
    color: #6d6d6d;
    line-height: 18px;
    font-size: 14px;
  }
  .bottom {
    display: flex;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    border: 1px solid rgb(158, 157, 157);
    border-radius: 10px;
    position: relative;
  }

  .bottom p {
    position: absolute;
    background-color: white;
    width: max-content;
    top: -18px;
    left: 70px;
    font-size: 14px;
    margin: 0;
    padding: 5px 40px;
  }
}
