@media (min-width: 1281px) {
  .wrapper {
    display: grid;
    align-items: center;
    gap: 20px;
    position: relative;
    grid-template-columns: 49% 49%;
    padding: 20px 100px;
    height: max-content;
  }
  .left .imgWrap {
    display: none;
  }
  .powered {
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
  }
  .uspFeatures {
    display: none;
  }
  .imgWrap {
    position: absolute;
    top: 0px;
    right: -41px;
  }
  .backImg {
    z-index: 0;
  }
  .iconImg {
    position: absolute;
    width: 89px;
    height: 80px;
    bottom: -40px;
    right: 40%;
  }
  .iconImgD {
    position: absolute;
    width: 89px;
    height: 80px;
    bottom: -40px;
    right: 98%;
  }
  .left {
    display: flex;
    position: relative;
    z-index: 1;
    flex-flow: column;
    padding: 20px 0;
  }
  .mobileDivWrapper {
    display: flex;
  }
  .left h1 {
    font-size: 40px;
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 10px;
    color: #ffffff;
  }
  .pBot {
    margin-bottom: 22px;
    margin-top: 0px;
    font-size: 16px;
    color: #e0e0e0;
  }
  .btn1:hover,
  .btn2:hover {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    background-color: white !important;
  }
  .pTop {
    background-color: #c4bbff;
    font-size: 37px;
    color: #4f419a;
    font-weight: 600;
    border-radius: 5px;
    padding: 15px;
    margin: 0;
    width: max-content;
  }
  .paraWrap {
    display: flex;
    flex-flow: column;

    gap: 20px;
  }
  .sidePara {
    font-size: 20px;
    color: white;
    margin: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .left h1 span {
    color: #ffffff;
  }

  .btnWrapper {
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-top: 30px;
  }

  .btnWrapper button {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #4f419a;
    background-color: white;
    border-radius: 6px;
    padding: 15px 25px;
    width: max-content;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
  }

  .right {
    display: flex;
    height: 100%;
    position: relative;
    z-index: 0;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
  }
  .imgWrapper {
    display: flex;
    position: absolute;
    width: max-content;
    left: -75px;
    bottom: -15px;
    align-self: start;
    justify-content: flex-start;
  }
}
@media (max-width: 1281px) {
  .wrapper {
    display: grid;
    align-items: center;
    gap: 10px;
    position: relative;
    background-size: cover;
    grid-template-columns: 49% 49%;
    padding: 40px 40px 44px 40px;
  }
  .left .imgWrap {
    display: none;
  }
  .uspFeatures {
    display: none;
  }
  .imgWrap {
    position: absolute;
    top: 0px;
    right: -41px;
  }
  .powered {
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
  }
  .left {
    padding: 30px 0px 30px 0px;
    z-index: 1;
    gap: 20px;
  }

  .left h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
    padding: 0;
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
    color: #ffffff;
  }
  .left h1 span {
    color: #ffffff;
  }
  .btnWrapper {
    display: flex;
    margin-top: 10px;
    align-items: center;
  }
  .pTop {
    background-color: #c4bbff;
    font-size: 32px;
    color: #4f419a;
    font-weight: 600;
    border-radius: 5px;
    padding: 15px;
    margin: 0;
    width: max-content;
  }
  .paraWrap {
    display: flex;
    flex-flow: column;

    gap: 20px;
  }
  .sidePara {
    font-size: 15px;
    color: white;
    margin: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .pBot {
    margin-top: 0px;
    margin-bottom: 17px;
    font-size: 16px;
    color: #e0e0e0;
  }
  .iconImgD {
    position: absolute;
    width: 89px;
    height: 80px;
    bottom: -60px;
    right: 100%;
  }

  .btnWrapper button {
    font-size: 14px;
    font-weight: 600;
    width: max-content;
    display: flex;
    padding: 15px;
    color: #4f419a;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
    margin-right: 10px;
  }
  .btnWrapper button:hover {
    background-color: #c4bbff;
  }

  .btnWrapper p {
    font-size: 16px;
    font-weight: 600;
    color: #c4bbff;
  }
  .hPara {
    font-weight: 600;
    margin-top: 20px;
  }

  .right {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    z-index: 0;
  }

  .imgWrapper {
    display: flex;
    position: absolute;
    bottom: -34px;
    left: -110px;
    align-self: start;
    justify-content: flex-start;
  }
  .iconImg {
    position: absolute;
    width: 89px;
    height: 80px;
    bottom: -55px;
    right: 42%;
  }
}
@media (max-width: 1024px) {
  .pTop {
    font-size: 25px;

    padding: 10px;
  }
  .left {
    padding: 0;
  }
  .powered {
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
  }
  .imgWrap {
    position: absolute;
    top: 0px;
    right: -34px;
  }
  .left h1 {
    font-size: 27px;
  }
  .iconImgD {
    right: 95%;
  }
}
@media (max-width: 961px) {
  .wrapper {
    padding: 20px;
  }
  .left {
    padding: 0px;
  }
  .imgWrap {
    position: absolute;
    top: 0px;
    right: -30px;
  }
  .powered {
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
  }
  .imgWrap {
    position: absolute;
    top: 0px;
    right: -34px;
  }
  .iconImg {
    position: absolute;
    width: 89px;
    height: 80px;
    bottom: -55px;
    right: 42%;
  }
  .pTop {
    font-size: 24px;
  }

  .imgWrapper {
    display: flex;
    margin-bottom: -20px;
    position: unset;
    margin-left: -200px;
    align-self: start;
    justify-content: flex-start;
  }
  .wrapper {
    grid-template-columns: 49% 49%;
  }
  .left h1 {
    font-size: 22px;
  }

  .btnWrapper {
    display: flex;
    width: 100%;
  }
  .mobileDivWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    width: 100%;
    margin-bottom: 20px;
  }

  .right {
    margin-top: 0px;
  }

  .bottom {
    width: 100%;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 801px) {
  .wrapper {
    grid-template-columns: 50% 50%;
  }
  .left {
    padding: 10px 0;
  }
  .btnWrapper {
    align-items: flex-start;
  }
  .sidePara {
    font-size: 12px;
  }
  .pTop {
    font-size: 18px;
    padding: 5px 8px;
  }
  .left h1 {
    font-size: 22px;
  }
  .right {
    display: none;
  }
  .mobileDivWrapper {
    width: 100%;
    justify-content: space-evenly;
  }
  .imgWrap {
    position: absolute;
    top: 0px;
    right: -10px;
  }
  .bottom {
    display: none;
  }
  .btnWrapper button {
    padding: 10px 15px;
  }
  .iconImgD {
    right: 99%;
  }
}
@media (max-width: 641px) {
  .wrapper {
    grid-template-columns: 100%;
    background-color: #4f419a;
  }
  .right {
    display: none;
  }
  .left {
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: center;
  }
  .paraWrap {
    gap: 10px;
  }
  .sidePara {
    font-size: 16px;
  }
  .left h1 {
    font-size: 29px;
    margin-bottom: 0;
  }
  .pBot {
    text-align: center;
    display: none;
  }
  .pTop {
    color: white;
    text-align: center;
    width: 100%;

    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 47px;
    background-color: transparent;
  }
  .uspFeatures {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    justify-content: center;
    padding: 10px 0px 0px 0px;
  }
  .dwld {
    font-size: 22px;
  }
  .uspFeatures .left,
  .uspFeatures .right {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    width: max-content;
    padding-left: 10px;
  }
  .uspFeatures p {
    font-weight: 500;
    color: white;
    line-height: 18px;
    font-size: 14px;
  }
  .uspFeatures span {
    font-weight: 400;
  }
  .uspFeatures1,
  .uspFeatures2,
  .uspFeatures3,
  .uspFeatures4 {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: 19% 70%;
    align-items: center;
    gap: 10px;
  }
  .btnWrapper {
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-flow: column;
  }
}
@media (max-width: 481px) {
  .wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    padding: 110px 20px 20px 20px;
  }
  .imgWrap {
    top: 70px;
    right: 0%;
  }
  .sidePara {
    display: flex;
    text-align: center;
    font-size: 16px;
  }
  .left h1 {
    font-size: 29px;
    margin-bottom: 0;
  }
  .pTop {
    color: white;
    text-align: center;
    width: 100%;

    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 47px;
    background-color: transparent;
  }

  .left h1 {
    font-size: 27px;
    margin: 0;
    font-weight: bold;
    padding: 0;
  }
  .left h1 span {
    color: #4f419a;
    margin: 0;
  }

  .btnWrapper {
    display: flex;

    flex-flow: column;

    align-items: center;
    justify-content: space-evenly;
  }

  .btnWrapper button {
    font-size: 14px;
    font-weight: 600;
    width: max-content;
    display: flex;

    justify-content: center;
    border-radius: 4px;
  }
}
